.frame{
	position: relative;
	z-index: 2;
	overflow:hidden;
}
.slide{
    position: fixed;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
}
.item{
	float:left;
}
/******************************************/
